---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$header-font-weight: 200;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     16px;

$text-color:       #fdfdfd;
$background-color: #000;
$brand-color:      #ff0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$small-text-color: darken($text-color, 15%);

$pre-color:        #404040;

// Width of the content area
$content-width-landing:    1000px;
$content-width:            640px;

$on-palm:          600px;
$on-tablet:        $content-width-landing;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-not($device) {
    @media screen and (min-width: ($device + 1px)) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "font-awesome/fontawesome",
        "font-awesome/brands",
        "lato",
        "base",
        "layout",
        "syntax-highlighting"
;
