---
layout: default
---

<img class="page-logo" src="{{ "/images/critique_logo_white.svg" | prepend: site.baseurl }}"></img>

<div class="section section-interrogation" id="interrogation">
  {% capture interrogation %}{% include sections/interrogation.md %}{% endcapture %}
  {{ interrogation | markdownify }}
</div>

<div class="section section-blog" id="blog">
  {% include sections/blog.html %}
</div>

<div class="section section-about" id="about">
  {% include sections/about.html %}
</div>

<div class="section section-contact" id="contact">
  {% capture contact %}{% include sections/contact.md %}{% endcapture %}
  {{ contact | markdownify }}
</div>
