<h1>About</h1>

<p>The Critique Gaming team is an eclectic squad consisting of five people with very different social and educational backgrounds, from law and economy to art and programming, with very diverse skillsets. We’ve gathered with the mission of making pointful games that explore important contemporary questions. After testing a few directions, we’re looking to moving on from amateur into professional independent game development with our Interrogation prototype.</p>

<div class="team-profile">
<img class="team-pic team-pic-left" src="/images/dexter.jpg">
<h2>Andrei Olaru</h2>
<h3>Producer, Marketer</h3>
<p>Andrei “Dexter” Olaru is the captain of Critique Gaming. An economist and career debater with international results, he’s the entrepreneurial spirit of the team, handling project and team management, wrangling needed resources.</p>
</div>

<div class="team-profile">
<img class="team-pic team-pic-right" src="/images/petcu.jpg">
<h2>Marius Petcu</h2>
<h3>Game Developer</h3>
<p>Marius Petcu studies in the Bucharest Polytechnic. With artistic spirit and a background in debating, he’s the team’s programmer. He makes sure the abstract thoughts and ideas of the team take tangible form, supple and interactive on the player’s screen.</p>
</div>

<div class="team-profile">
<img class="team-pic team-pic-left" src="/images/dora.jpg">
<h2>Dora Marian</h2>
<h3>Art &amp; Graphics Designer</h3>
<p>Dora Marian is a graduate of the National University of Arts, photographer, tasteful super-hipster and graphical artist of the team. She gives identity and visual form to all of the team’s creative content.</p>
</div>

<div class="team-profile">
<img class="team-pic team-pic-right" src="/images/david.jpg">
<h2>David Moscovici</h2>
<h3>Game Designer, Writer</h3>
<p>David Moscovici has a master’s degree in law, is grumpy, is a trainer and career debater and is the team’s game designer. He writes the narrative content, insures the balance and dynamics of game mechanics and handles the creative direction of the games.</p>
</div>

<div class="team-profile">
<img class="team-pic team-pic-left" src="/images/dexi.jpg">
<h2>Dragos Antoniu</h2>
<h3>Sound Designer, Composer</h3>
<p>Dragos “Dexi” Antoniu is an economist but his soul is in music. Passionate about contemporary popular art, he creates the sounds and soundtracks for Critique Gaming.</p>
</div>