<h1>Blog</h1>

<ul class="post-list">
  {% for post in site.posts %}
    {% if forloop.index > 2 %}
      {% break %}
    {% endif %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>

      <p class="post-excerpt">
        {{ post.excerpt | strip_html | truncate: 300 }}
        <a class="post-link" href="{{ post.url | relative_url }}">read more...</a>
      </p>
    </li>
  {% endfor %}
</ul>

<p>Read <a href={{ "/blog" | relative_url }}>more posts...</a></p>