<div class="social-buttons">
  <a href="https://store.steampowered.com/app/1016770/Interrogation/" title="Interrogation on Steam">
    <i class="fab fa-steam"></i>
  </a>
  <a href="https://facebook.com/InterrogationG" title="Interrogation on Facebook">
    <i class="fab fa-facebook"></i>
  </a>
  <a href="https://twitter.com/InterrogationG" title="Interrogation on Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="https://discord.gg/mixtvision" title="The Mixtvision Discord server">
    <i class="fab fa-discord"></i>
  </a>
</div>