/**
* Logo
*/

/**
* Page content
*/
.page-content {
  padding: $spacing-unit * 2 0;
}

.page-content-landing {
  padding-top: $spacing-unit;
}

.page-content p {
  text-align: justify;
}

.page-content hr {
  margin: $spacing-unit 0;
}

.page-content {
  h1 { margin-top: $spacing-unit; }
  h2 { margin-top: $spacing-unit; }
  h3 { margin-top: $spacing-unit; }
  hr { margin: $spacing-unit 0; }
}

.separator1 {
  width: 100%;
  height: $spacing-unit;
}

.separator2 {
  width: 100%;
  height: $spacing-unit * 2;
}

.page-content img,
.page-content video {
  display: block;
  &.mw50 { max-width: 50%; }
  &.mw75 { max-width: 75%; }
  &.mw66 { max-width: 66%; }
  &.mw100 { max-width: 100%; }
  &.w50 { width: 50%; height: auto; }
  &.w75 { width: 75%; height: auto; }
  &.w66 { width: 66%; height: auto; }
  &.w100 { width: 100%; height: auto; }
  @include media-query($on-palm) {
    max-width: 100% !important;
  }
  margin-left: auto;
  margin-right: auto;
}

/**
* Section-specific
*/

.section-interrogation a > img {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.section-interrogation a:hover > img,
.section-interrogation a:active > img {
  opacity: 0.8;
}

.section-about .team-profile {
  @extend %clearfix;
  width: 100%;
  h2 {
    margin-bottom: $spacing-unit / 4;
  }
  h3 {
    margin-bottom: $spacing-unit * (3 / 4);
  }

  @include media-query($on-palm) {
    h2, h3 {
      text-align: center;
    }
  }
}

.section-about .team-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 9px $spacing-unit ($spacing-unit - 9px + 20px) $spacing-unit;
  &.team-pic-left { float: left; margin-left: 0; }
  &.team-pic-right { float: right; margin-right: 0; }

  @include media-query($on-palm) {
    &.team-pic-left,
    &.team-pic-right {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit - 20px;
  }
}

.section-contact p {
 text-align: left;
}

$side-col: 60%;

.hide-tablet {
  @include media-query($on-tablet) {
    display: none;
  }
}

.show-tablet {
  @include media-query-not($on-tablet) {
    display: none;
  }
}

.float-right {
  width: $side-col;
  margin-left: $spacing-unit * 2;
  float: right;

  @include media-query($on-tablet) {
    width: 100%;
    margin-left: 0;
    float: none;
  }
}

.float-left {
  width: $side-col;
  margin-right: $spacing-unit * 2;
  float: left;

  @include media-query($on-tablet) {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}

.clear {
  clear: both;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100% / (16/9);
  margin-bottom: $spacing-unit;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-meta {
  color: $text-color;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-tablet) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-tablet) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-tablet) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-tablet) {
      font-size: 18px;
    }
  }
}

.fb-comments-container {
  margin-right: -8px;
  margin-left: -8px;
  width: calc(100% + 16px);
}

.company-logos {
  width: 40%;
  @include media-query($on-tablet) {
    width: 100%;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-logo {
  flex: 1;

  & > img {
    width: 100%;
  }

  &:first-child {
    margin-right: 40px;
  }
}

.screenshots {
  width: 100%;
  @include media-query-not($on-palm) {
    display: flex;
    flex-direction: row;

    div {
      flex-grow: 1;
      margin-left: $spacing-unit;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.interrogation-header {
  & .wrapper-landing {
    position: relative;
  }
}

.interrogation-logo {
  width: 100%;
  height: auto;
  display: block;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include media-query($on-tablet) {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  &:not(:first-child) {
    margin-right: $spacing-unit;
  }
}

.follow {
  margin-top: $spacing-unit;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media-query($on-tablet) {
    flex-direction: column;
  }
}

.follow-column {
  flex: 1;
  margin-left: $spacing-unit * 0.5;
  margin-right: $spacing-unit * 0.5;
}

.social-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: -16px auto 16px auto;

  & > a {
    display: block;
    font-size: 32px;
    padding: 4px;
    color: #fff;
    text-decoration: none;

    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover, &:focus {
      opacity: 0.5;
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  width: 40%;
  top: 65%;
  left: 5%;

  @include media-query($on-tablet) {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: $spacing-unit;
  }
}

.cta-copy {
  text-align: center;
  margin-bottom: $spacing-unit;
  font-style: italic;
  & p { margin: 0; }
  line-height: 1.5;
}

.cta-buttons {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cta-button {
  &, &:hover, &:focus, &:visited {
    text-decoration: none;
    color: white;
  }

  background-color: rgba(255, 255, 255, 0.0);
  transition: background-color 0.3s ease;

  &:hover, &:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }

  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  height: $spacing-unit * 3;
  border-radius: $spacing-unit / 4;
  border: 1px solid white;
  margin: $spacing-unit * 0.5;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.cta-button i {
  font-size: 32px;
}

.cta-button-label {
  margin-left: $spacing-unit;

  & p { margin: 0; }
  font-weight: 300;
  line-height: 1;
  font-size: $spacing-unit;
  text-align: center;
}
