/**
* Logo
*/
.page-logo {
  width: 70%;
  height: auto;
  margin: $spacing-unit * 3 auto $spacing-unit auto;
  display: block;

  @include media-query($on-palm) {
    width: 90%;
    margin-top: $spacing-unit * 2;
  };
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-content p {
  text-align: justify;
}

.page-content img,
.page-content video {
  display: block;
  &.mw50 { max-width: 50%; }
  &.mw75 { max-width: 75%; }
  &.mw66 { max-width: 66%; }
  &.mw100 { max-width: 100%; }
  &.w50 { width: 50%; height: auto; }
  &.w75 { width: 75%; height: auto; }
  &.w66 { width: 66%; height: auto; }
  &.w100 { width: 100%; height: auto; }
  @include media-query($on-palm) {
    max-width: 100% !important;
  }
  margin-left: auto;
  margin-right: auto;
}

/**
* Section-specific
*/

.section-interrogation a > img {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.section-interrogation a:hover > img,
.section-interrogation a:active > img {
  opacity: 0.8;
}

.section-about .team-profile {
  @extend %clearfix;
  width: 100%;
  h2 {
    margin-bottom: $spacing-unit / 4;
  }
  h3 {
    margin-bottom: $spacing-unit * (3 / 4);
  }

  @include media-query($on-palm) {
    h2, h3 {
      text-align: center;
    }
  }
}

.section-about .team-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 9px $spacing-unit ($spacing-unit - 9px + 20px) $spacing-unit;
  &.team-pic-left { float: left; margin-left: 0; }
  &.team-pic-right { float: right; margin-right: 0; }

  @include media-query($on-palm) {
    &.team-pic-left,
    &.team-pic-right {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit - 20px;
  }
}

.section-contact p {
 text-align: left;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: $spacing-unit;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-meta {
  color: $text-color;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.fb-comments-container {
  margin-right: -8px;
  margin-left: -8px;
  width: calc(100% + 16px);
}

.company-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company-logo {
  flex: 1;

  & > img {
    width: 100%;
  }

  &:first-child {
    margin-right: 40px;
  }
}

.interrogation-header {
}

.interrogation-logo {
  width: 100%;
  height: auto;
  display: block;
}

.social-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: -40px auto 48px auto;

  & > a {
    display: block;
    font-size: 32px;
    padding: 4px;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus {
      opacity: 0.5;
    }
  }
}
