/**
* Site header
*/
.site-header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;

  @include media-query($on-laptop) {
    border-bottom: $grey-color-light solid 1px;
    background-color: $background-color;

    @include media-query($on-palm) {
      border-bottom: none;
      background-color: transparent;
    }
  }
}

.site-nav {
  display: none;
  @include media-query($on-laptop) {
    display: block;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $text-color;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    .nav-trigger:checked + .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.site-nav-wrapper {
  position: relative;
  perspective: 1000px;
}

.site-nav-front,
.site-nav-back {
  @include media-query($on-laptop) {
    display: none;
  }

  position: absolute;
  top: $spacing-unit;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  transition: all .3s ease-in-out;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 0;
  }
}

.site-nav-front {
  transform-origin: 100% 50%;
  right: 15px;
  padding-right: 15px;
  z-index: 1; // To fix Safari bug
  .page-link { text-align: right; }
}

.site-nav-back {
  transform-origin: 0% 50%;
  left: $content-width - 15px;
  padding-left: 15px;
  .page-link { text-align: left; }
}

.site-nav-back { transform: rotateY(-180deg); }
body.scrolled {
  .site-nav-front { transform: rotateY(180deg); }
  .site-nav-back { transform: rotateY(0); }
}

html.ie9 { // IE <= 9 doesn't support backface-visibility
  .site-nav-back { display: none; transform: rotateY(0); }
  body.scrolled {
    .site-nav-front { display: none; transform: rotateY(0); }
    .site-nav-back { display: block; transform: rotateY(0); }
  }
}

/**
* Logo
*/
.page-logo {
  width: 70%;
  height: auto;
  margin: $spacing-unit * 3 auto $spacing-unit auto;
  display: block;

  @include media-query($on-palm) {
    width: 90%;
    margin-top: $spacing-unit * 2;
  };
}

/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-content p {
  text-align: justify;
}

.page-content img {
  display: block;
  &.mw50 { max-width: 50%; }
  &.mw75 { max-width: 75%; }
  &.mw66 { max-width: 66%; }
  @include media-query($on-palm) {
    max-width: 100% !important;
  }
  margin-left: auto;
  margin-right: auto;
}

/**
* Section-specific
*/

.section-interrogation a > img {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.section-interrogation a:hover > img,
.section-interrogation a:active > img {
  opacity: 0.8;
}

.section-about .team-profile {
  @extend %clearfix;
  width: 100%;
  h2 {
    margin-bottom: $spacing-unit / 4;
  }
  h3 {
    margin-bottom: $spacing-unit * (3 / 4);
  }

  @include media-query($on-palm) {
    h2, h3 {
      text-align: center;
    }
  }
}

.section-about .team-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 9px $spacing-unit ($spacing-unit - 9px + 20px) $spacing-unit;
  &.team-pic-left { float: left; margin-left: 0; }
  &.team-pic-right { float: right; margin-right: 0; }

  @include media-query($on-palm) {
    &.team-pic-left,
    &.team-pic-right {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit - 20px;
  }
}

.section-contact p {
 text-align: left;
}

.interrogation-logo {
  margin-bottom: $spacing-unit * 2;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: $spacing-unit;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-meta {
  color: $text-color;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.fb-comments-container {
  margin-right: -8px;
  margin-left: -8px;
  width: calc(100% + 16px);
}
