<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ie7 ie8 ie9"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ie8 ie9"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8 ie9"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
