---
layout: default
---

{% if site.fb_app_id %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{ site.fb_app_id }},
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endif %}

{% include logo.html %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

{% if site.fb_app_id %}
{% capture og_url %}{{ page.url | replace:'index.html','' | relative_url | prepend: site.url }}{% endcapture %}
<div class="fb-comments-container">
  <div class="fb-comments" data-href="{{ og_url }}" data-numposts="5" data-colorscheme="dark" data-width="100%">
  </div>
</div>
{% endif %}
